.arrow {
  width: 10px;
  height: 10px;
  fill: $white;

  &--down {
    transform: rotate(90deg);
  }
  
  &--up {
    transform: rotate(-90deg);
  }

  &--left {
    transform: rotate(180deg);
    fill: #2d3c4e;
  }

  &--right {
    fill: #2d3c4e;
  }
}