.header {
  display: flex;
  justify-content: space-between;
  height: 9%;
  align-items: center;


  &__logo {
    justify-content: flex-start;
  }

  &__nav {
    justify-content: center;
  }

  &__socials {
    justify-content: flex-end;
  }
}