.nav__list {
  display: flex;
}

.nav__item {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;

  &:not(:last-child) {
    margin-right: 60px;
  }

  &--footer {
    color: #fff;
  }
}

.nav__link {

  &:hover {
    text-decoration: underline;
  }
}