.scroll {
  display: inline-flex;
  align-items: center;
  /* transition: transform .3s; */

  &:hover {
    .scroll__icon {
      transform: translateY(-20%);
    }
  }
}

.scroll-text {
  display: blok;
  margin-right: 8px;
}

.scroll__icon {
  width: 30px;
  height: 30px;
  transition: transform .3s;
}