.title {
  font-size: 36px;
  font-weight: bold;

  &--hero {
    font-size: 72px;
    font-weight: 800;
  }

  &--copiright {
    font-weight: 700;
    font-size: 18px;
  }

  &--about {
    font-weight: 700;
    color: rgb(65, 76, 99);
  }

    &--reviews {
    margin-right: 100px;
  }

  &--contacts {
    /* margi */
  }
}