.copyright
  .copyright__year © 2019
  .copyright__info
    .copyright__name
      h3.title.title--copiright Хотинец
      h3.title.title--copiright Артем
    .copyright__desc  
      span.copyright__desc-text Личный сайт
      span.copyright__desc-text веб-разработчика