section.fullscreen-section.hero#hero
  .container
    include header

    .hero__greeting
      .hero__description
        p.hero__description-text Личный сай
        p.hero__description-text веб-разработчика

      .hero__name
        h1.title.title--hero Артем Хотинец

    .hero__scroll
      a(href='#about').scroll 
        .scroll__text Скрол 
        +icon('scroll', 'scroll__icon') 