mixin nav(mod) 
  nav.main-menu
    ul.main-menu__list
      - var nav = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
      - var navAnchors = ["#hero", "#about", "#skills", "#works", "#reviews", "#contacts"];
      each item, index in nav
        if mod != 'footer'
          li(class="main-menu__item")
            a(href=`${navAnchors[index]}` class='main-menu__link')= item
        else
          li(class="main-menu__item main-menu__item--" + mod)
            a(href=`${navAnchors[index]}` class='main-menu__link')= item